<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@2.21">
      <branch plugin="branch-api@2.5.6">
        <sourceId>7664a6cd-cc3f-473f-b080-2538ecaeedb1</sourceId>
        <head class="jenkins.plugins.git.GitBranchSCMHead" plugin="git@4.3.0">
          <name>master</name>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@4.3.0">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
              <url>https://github.com/laith-leo/nginx-compile.git</url>
              <credentialsId>2f08b1ee-fc58-4cc3-a055-9c57491c6e3c</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>master</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <jenkins.plugins.git.GitSCMSourceDefaults>
              <includeTags>false</includeTags>
            </jenkins.plugins.git.GitSCMSourceDefaults>
          </extensions>
        </scm>
        <properties/>
        <actions>
          <jenkins.scm.api.metadata.PrimaryInstanceMetadataAction plugin="scm-api@2.6.3"/>
        </actions>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@2.21">
    <scriptPath>Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>